certifi==2021.10.8
charset-normalizer==2.0.12
idna==3.3
PyYAML==6.0.1 # see https://stackoverflow.com/questions/76708329/docker-compose-no-longer-building-image-attributeerror-cython-sources
requests==2.27.1
urllib3==1.26.8
